{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block style %}
   body {
    background-image: url(../static/img/space.png);
    background-size: cover;
   }
   button {
    background-color: transparent;
    color: white;
    border: 0.2em white solid;
    margin: 0.5em;
    border-radius: 0.5em;
    padding: 0.1em 0.5em;
    transition: 300ms;
   }
   button:hover {
    background-color: white;
    color: black;
   }
{% endblock %}

{% block body %}
<div class="container mt-5">
    <form action="login">
        <button>Вход</button>
    </form>

    <form action="reg">
        <button>Регистрация</button>
    </form>
</div>
{% endblock %}