{% extends 'base.html' %}

{% block title %}
Регистрация
{% endblock %}

{% block style %}
   body {
    background-image: url(../static/img/space.png);
    background-size: cover;
    color: white;
   }
   input[type="submit"] {
    background-color: transparent;
    color: white;
    border: 0.2em white solid;
    margin: 0.5em;
    border-radius: 0.5em;
    padding: 0.1em 0.5em;
   }
   input[type="submit"]:hover {
    background-color: white;
   }
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Регистрация</h1>
    <form method="post">
        <input type="text" name="name" id="name" class="form-control" placeholder="Имя пользователя"><br>
        <input type="password" name="password" id="password" class="form-control" placeholder="Пароль"><br>
        <input type="submit" class="btn btn-succsess" value="Зарегистрироваться">
    </form>
</div>
{% endblock %}